<div class="r-home">
  <div class="container">
    <div class="r-home__hero">
      <h1>
        <img src="~_images/twitch-logo.png" alt="Twitch">
        聊天室活躍度視覺化
      </h1>
      <form action="" ng-submit="$ctrl.handleSubmit($ctrl.vodInput);">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control r-home__input" placeholder="請輸入 Twitch VOD ID 或是 VOD 網址"
          ng-model="$ctrl.vodInput" />
          <span class="input-group-btn">
            <button class="btn btn-default btn-twitch" type="submit">查詢</button>
          </span>
        </div>
        <div class="r-home__input-example">
          例如 <code ng-click="$ctrl.vodInput = '147480480'">147480480</code> 或 <code ng-click="$ctrl.vodInput = 'https://twitch.tv/videos/147480480'">https://twitch.tv/videos/147480480</code>
        </div>
      </form>
      <div class="r-home__about">
        <p>
          本視覺化僅作粗略統計，並且由於實況內容與聊天室有延遲，實際上沒有辦法達到相當精準的對應實況內容與聊天室反應。以此前提來觀看資料，才能夠參透資料內表達的真正意義。
        </p>
        <div class="r-home__about__author">
          由 <a href="https://github.com/pc035860" target="_blank" rel="noopener">@pc035860</a> 製作與維護
          <a class="github-button" href="https://github.com/pc035860/twitch-chat-as-chart" data-show-count="true" aria-label="Star pc035860/hi-armory.tw on GitHub">Star</a>
        </div>
      </div>
    </div>
  </div>
</div>
